{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>

<body class="bg-white dark:bg-black">
    <div id="sidebar">
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
    </div>


    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
