{% extends base_template %}

{% load partials %}

{% startpartial grinder-item %}
  <tr class="hover">
  {% if forloop %}
  <td> {{ forloop.counter }} </td>
  {% elif grinder_count %}
  <td> {{ grinder_count }} </td>
  {% endif %}
  <td> {{grinder.brand }} </td>
  <td> {{grinder.model }} </td>
  </tr>
{% endpartial %}

<div id="content">
    {% block content %}
    <div class="flex w-full">
      <div class=" center items-center h-screen flex-grow place-items-center">
        {% if grinders %}
          <p class="text-center"> Here's the list of your grinders: </p>  
        <div class="overflow-x-auto">
          <table class="table" id="grinder-table">
            <thead>
              <tr>
              <th>No.</th>
              <th>Brand</th>
              <th>Model</th>
              </tr>
            </thead>
            <tbody>
        {% for grinder in grinders %}
          {% partial grinder-item %}
        {% endfor %}
            </tbody>
            </table>
        </div>
        {% else %}
        <p> You have no grinder <p>  
        {% endif %}
      </div> 
      <div class="divider divider-horizontal"></div> 
      <div class="h-screen flex-grow place-items-center">
        <button class="btn btn-primary popup-button" id="buttonForm">
          Add Grinder
        </button>

      <form hx-post="{% url 'grinder' %}" hx-swap="beforeend" hx-target="#grinder-table" id="popupForm" class="form-control popup-form">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      {% for field in form %}
      {{ field.label_tag }} <br><br> {{ field }}
        <br>
      {% endfor %}
      <br>
      <input type="submit" value="Submit" class="btn btn-primary text-white">
      </form>
</div>
    </div>

    {% endblock %}
</div>
